In [1]:
import pandas as pd

routes = pd.read_csv("sweeden_data/routes.txt", dtype=str)

routes.head(10)

,route_id,agency_id,route_short_name,route_long_name,route_type,route_desc
0,9011001000100000,14010000000001001,1,NaN,700,blåbuss
1,9011001000200000,14010000000001001,2,NaN,700,blåbuss
2,9011001000300000,14010000000001001,3,NaN,700,blåbuss
3,9011001000400000,14010000000001001,4,NaN,700,blåbuss
4,9011001000500000,14010000000001001,5,NaN,700,blåbuss
5,9011001000600000,14010000000001001,6,NaN,700,blåbuss
6,9011001000700000,14010000000001001,7,Spårväg city,900,Spårväg City
7,9011001001000000,14010000000001001,10,Blå linjen,401,tunnelbanans blå linje
8,9011001001100000,14010000000001001,11,Blå linjen,401,tunnelbanans blå linje
9,9011001001200000,14010000000001001,12,Nockebybanan,900,Nockebybanan

In [2]:
routes[routes["route_id"] == "9011001075800000"]

,route_id,agency_id,route_short_name,route_long_name,route_type,route_desc
449,9011001075800000,14010000000001001,758,NaN,700,NaN

In [3]:
trips = pd.read_csv("sweeden_data/trips.txt", dtype=str)

trips.head(10)

,route_id,service_id,trip_id,trip_headsign,direction_id,shape_id
0,9011001000100000,1,14010100704898439,NaN,1,1014010000482329256
1,9011001000100000,2,14010100708559249,NaN,1,1014010000482329256
2,9011001000100000,3,14010200664345127,NaN,1,1014010000482329256
3,9011001000100000,1,14010200669010872,NaN,1,1014010000482329256
4,9011001000100000,4,14010100702335572,NaN,1,1014010000482329256
5,9011001000100000,1,14010100702343409,NaN,1,1014010000482329256
6,9011001000100000,2,14010100702359737,NaN,1,1014010000482329256
7,9011001000100000,5,14010100698533064,NaN,1,1014010000482329256
8,9011001000100000,6,14010100664373192,NaN,1,1014010000482329256
9,9011001000100000,7,14010100669010971,NaN,1,1014010000482329256

In [4]:
trips[trips["trip_id"] == "14010000549855266"]

,route_id,service_id,trip_id,trip_headsign,direction_id,shape_id
90383,9011001075800000,50,14010000549855266,NaN,0,1014010000527068180

In [5]:
stops = pd.read_csv("sweeden_data/stops.txt", dtype=str)

stops.head(100)

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station,platform_code
0,9021001000101000,Stavsnäs,59.286405,18.704700,1,NaN,NaN
1,9021001000102000,Styrsvik,59.280184,18.731426,1,NaN,NaN
2,9021001000103000,Nämdöböte,59.208731,18.740060,1,NaN,NaN
3,9021001000104000,Aspö,59.215843,18.753410,1,NaN,NaN
4,9021001000105000,Idöborg,59.204309,18.757769,1,NaN,NaN
...,...,...,...,...,...,...,...
95,9021001000209000,Dalarö,59.129570,18.405221,1,NaN,NaN
96,9021001000210000,Jutholmen,59.125238,18.409336,1,NaN,NaN
97,9021001000211000,Aspö,59.117134,18.411589,1,NaN,NaN
98,9021001000212000,Stora Segholmen,59.113649,18.412886,1,NaN,NaN
99,9021001000213000,Dalarö skans,59.113292,18.391527,1,NaN,NaN

In [7]:
# A prendre quand j'aurais la ligne idéale
shapes = pd.read_csv("sweeden_data/shapes.txt", dtype=str)
# trop lourd pour git
shapes.head(10)

,shape_id,shape_pt_lat,shape_pt_lon,shape_pt_sequence,shape_dist_traveled
0,1014010000482329256,59.341873,18.118316,1,0
1,1014010000482329256,59.341853,18.118402,2,0.01
2,1014010000482329256,59.341754,18.118334,3,12
3,1014010000482329256,59.341259,18.118047,4,69
4,1014010000482329256,59.340929,18.116765,5,151
5,1014010000482329256,59.340944,18.116478,6,167
6,1014010000482329256,59.340571,18.115033,7,259
7,1014010000482329256,59.340453,18.114870,8,276
8,1014010000482329256,59.340353,18.114259,9,312
9,1014010000482329256,59.341099,18.113851,10,397.99

In [8]:
agency = pd.read_csv("sweeden_data/agency.txt", dtype=str)

agency.head(10)

,agency_id,agency_name,agency_url,agency_timezone,agency_lang,agency_fare_url
0,14010000000001001,AB Storstockholms Lokaltrafik,https://sl.se/,Europe/Stockholm,sv,https://sl.se/
1,14010000000001917,Upplands lokaltrafik,https://www.resrobot.se/,Europe/Stockholm,sv,NaN
2,14010000000001939,Länstrafiken Sörmland,https://www.resrobot.se/,Europe/Stockholm,sv,NaN
3,14010000000001961,AB SL Kundtjänst,https://www.resrobot.se/,Europe/Stockholm,sv,NaN
4,14010000000001983,Kommuner i Stockholms Län,https://www.resrobot.se/,Europe/Stockholm,sv,NaN
5,14010000000002005,Färdtjänstnämnden,https://www.resrobot.se/,Europe/Stockholm,sv,NaN
6,14010000000002027,Vägverket Färjerederiet AB,https://www.resrobot.se/,Europe/Stockholm,sv,NaN
7,14010000000002049,People Travel Group AB,https://www.resrobot.se/,Europe/Stockholm,sv,NaN
8,14010000000002071,Waxholmsbolaget Ångfartygs AB,https://www.resrobot.se/,Europe/Stockholm,sv,NaN
9,14010000000002093,SJ AB,https://www.resrobot.se/,Europe/Stockholm,sv,NaN

In [9]:
bus_routes = routes[routes["route_type"] == "700"]
bus_routes.head(10)

,route_id,agency_id,route_short_name,route_long_name,route_type,route_desc
0,9011001000100000,14010000000001001,1,NaN,700,blåbuss
1,9011001000200000,14010000000001001,2,NaN,700,blåbuss
2,9011001000300000,14010000000001001,3,NaN,700,blåbuss
3,9011001000400000,14010000000001001,4,NaN,700,blåbuss
4,9011001000500000,14010000000001001,5,NaN,700,blåbuss
5,9011001000600000,14010000000001001,6,NaN,700,blåbuss
30,9011001005000000,14010000000001001,50,NaN,700,NaN
31,9011001005300000,14010000000001001,53,NaN,700,NaN
32,9011001005400000,14010000000001001,54,NaN,700,NaN
33,9011001005500000,14010000000001001,55,NaN,700,NaN

In [10]:
bus_routes_test = bus_routes[bus_routes['route_long_name'].notna()]

bus_routes_test.head()

,route_id,agency_id,route_short_name,route_long_name,route_type,route_desc
538,9011001091200000,14010000000001001,12,Ersätter Nockebybanan,700,Ersättningsbuss
539,9011001092000000,14010000000001001,21B,Ersätter Lidingöbanan,700,Ersättningsbuss
542,9011001092500000,14010000000001001,25M,Ersätter Saltsjöbanan,700,Ersättningsbuss
543,9011001092600000,14010000000001001,26M,Ersätter Saltsjöbanan,700,Ersättningsbuss
544,9011001093000000,14010000000001001,30,Ersätter Tvärbanan,700,Ersättningsbuss